<section>
      <div class="row content-line-light">
        <div class="col-xs-3">
          <p class="h3 pink text-uppercase">
            Клиенты
          </p>
        </div>
        <div class="col-xs-3">
          <a href="#">
            все клиенты
          </a>
        </div>
      </div>
      <div class="row content-line ">
        <div class="owl-logos">
          <div><img src="img/logo/aem.jpg" alt="">
          </div>
          <div><img src="img/logo/arstem.jpg" alt="">
          </div>
          <div><img src="img/logo/asteros.jpg" alt="">
          </div>
          <div><img src="img/logo/atomsk.jpg" alt="">
          </div>
          <div><img src="img/logo/eku.jpg" alt="">
          </div>
          <div><img src="img/logo/Elvest.jpg" alt="">
          </div>
          <div><img src="img/logo/Yava.png" alt="">
          </div>
          <div><img src="img/logo/Zick.png" alt="">
          </div>
        </div>
      </div>
    </section>