<footer>
    <section>
      <div class="container">
        <div class="row contacts">
          <div class="col-xs-24 ">
            <h3 class="text-uppercase">Контакты</h3>
          </div>
          <div class="col-xs-8">
            <form>
              <div class="form-group">
                <input type="text" class="form-control" id="name" placeholder="имя">
                <input type="text" class="form-control" id="organisation" placeholder="организация">
                <input type="tel" class="form-control" id="telephone" placeholder="телефон">
                <input type="text" class="form-control" id="email" placeholder="e-mail">
                <div class="capt"><img src="img/capt.png" alt="">
                </div>
                <input type="text" class="form-control" id="capt" placeholder="символы с изображения">
              </div>
            </form>
          </div>
          <div class="col-xs-8">
            <div class="form-group">
              <textarea type="text" class="form-control" id="text" placeholder="сообщение" rows="8"></textarea>
              
            </div>
            <div class="col-xs-10 no-gutter">
<button class="btn btn-danger btn-block" type="submit">отправить</button>
           </div>
            </div>
          <div class="col-xs-8">
            <p class="h3 pink">Напишите нам</p>
            <a class="lead" href="mailto:pm@it-ip.ru">pm@it-ip.ru</a>
            <div class="call-us">
              <p class="lead">Позвоните нам</p>
              <ul class="list-unstyled">
                <li>+7 (343) 266 93 83</li>
                <li>+7 (495) 456 24 64 <span class="black">MSK</span>
                </li>
                <li>+7 800 700 93 84 <span class="black">KZ</span>
                </li>
              </ul>
              <a href="#">заказать звонок</a>
              <h3>Екатеринбург<br>Красноармейская, 66</h3>
            </div>
          </div>
          </div>
</div>

    </section>
    <section>
      <div class="container">
        <div class="row footer-top">
          <div class="col-xs-4"><a href="#">Главный сайт</a></div>             <div class="col-xs-4"><a href="#">Техническая <br>поддержка</a></div>
          <div class="col-xs-4"><a href="#">Управление <br>проектами</a></div>
          <div class="col-xs-4 footer-column-1"><a href="#">1С</a></div>
          <div class="col-xs-8 footer-column-2">
            <address><p>Красноармейская 66, Екатеринбург, Россия<br></p>
            <a href="mailto:pm@it-ip.ru">pm@it-ip.ru</a>
            </address>
            <p class="text-right text-small">© IT-IP. Все права защищены. 1999–2015</p>
          </div>
        </div>
        <div class="row footer-down">
          <div class="col-xs-3">
            <a href="#">другие проекты:</a>
          </div>
          <div class="col-xs-5">
            <ul class="list-inline">
              <li>
                <a href="#">
                  <img id="my3d" src="img/my3d.svg" alt="">
                </a>
              </li>
              <li>
                <a href="#" target="_blank">
                  <img id="polycopy" src="img/polyprint.svg">
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </footer>
<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.placeholder.min.js"></script>
<script src="js/jquery.calendario.js"></script>
<script src="js/modernizr.custom.63321.js"></script>
<script src="js/selectordie.min.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>