<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="">
  <meta name="it-ip" content="">
  <title>PM-Partner</title>
  <link rel="shortcut icon" href="">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/owl.carousel.css">
  <link rel="stylesheet" href="css/style.min.css">

  <!--[if IE]>
    <script src="https://cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>
  <header>
    <div class="container">
      <div class="row header-top">
        <div class="col-xs-3">
          <div class="logo">
            <a href="index.html"><img src="img/logo.svg">
            </a>
          </div>
        </div>
        <div class="col-xs-5">
          <h4 class="text-uppercase">Управление проектами,<br>внедрение и разработка
      </h4>
        </div>
        <div class="col-xs-4">
          <a class="tel-header" href="tel:+7 (343) 266 93 83">
      +7 (343) 266 93 83
      </a>
        </div>
        <div class="col-xs-4">
          <a class="tel-header" href="tel:+7 (495) 456 24 64">+7 (495) 456 24 64 </a><span class="gray">MSK</span>
          <a class="tel-header" href="tel:+7 800 700 93 84">+7 800 700 93 84 </a><span class="gray">KZ</span>
        </div>
        <div class="col-xs-4"><a href="#" class="btn btn-block btn-danger">оставить заявку</a>
        </div>
        <div class="col-xs-3">
          <div class="icons-header">
            <ul class="list-inline">
              <li>
                <a id="vk" href="#"></a>
              </li>
              <li>
                <a id="fb" href="#"></a>
              </li>
              <li>
                <a id="tw" href="#"></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <nav>
        <div class="row">
          <div class="col-xs-4">
            <a class="text-underline" href="#">Главная</a>
          </div>
          <div class="col-xs-4">
            <a href="programs.html">Программы</a>
          </div>
          <div class="col-xs-4">
            <a href="#">Услуги</a>
          </div>
          <div class="col-xs-4">
            <a href="projects.html">Проекты</a>
          </div>
          <div class="col-xs-4">
            <a href="#">Обучение</a>
          </div>
          <div class="col-xs-4">
            <a href="#">Новости</a>
          </div>
        </div>
      </nav>
    </div>
  </header>