<aside>
      <div class="col-xs-8">
        <p class="h3 pink">НОВОСТИ</p>
        <br>
        <br>
        <div class="collapse-block">
          <div class="collapse-heading">

            <a class="h3 pink text-uppercase collapsed" data-toggle="collapse" href="#collapse1" aria-expanded="false" aria-controls="collapse1">
  2015
</a>
          </div>
          <div class="collapse collapse-list" id="collapse1">
            <ul class="list-unstyled">
              <li><a href="news-month.html" class="lead">январь</a>
              </li>
              <li><a href="news-month.html" class="lead">февраль</a>
              </li>
              <li><a href="news-month.html" class="lead">март</a>
              </li>
              <li><a href="news-month.html" class="lead">апрель</a>
              </li>
              <li><a href="news-month.html" class="lead">май</a>
              </li>
              <li><a href="news-month.html" class="lead">июнь</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="collapse-block">
          <div class="collapse-heading">
            <a class="h3 pink text-uppercase collapsed" data-toggle="collapse" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
  2014
</a>
          </div>
          <div class="collapse collapse-list" id="collapse2">
            <ul class="list-unstyled">
              <li><a href="news-month.html" class="lead">январь</a>
              </li>
              <li><a href="news-month.html" class="lead">февраль</a>
              </li>
              <li><a href="news-month.html" class="lead">март</a>
              </li>
              <li><a href="news-month.html" class="lead">апрель</a>
              </li>
              <li><a href="news-month.html" class="lead">май</a>
              </li>
              <li><a href="news-month.html" class="lead">июнь</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="collapse-block">
          <div class="collapse-heading">
            <a class="h3 pink text-uppercase collapsed" data-toggle="collapse" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
  2013
</a>
          </div>
          <div class="collapse collapse-list" id="collapse3">
            <ul class="list-unstyled">
              <li><a href="news-month.html" class="lead">январь</a>
              </li>
              <li><a href="news-month.html" class="lead">февраль</a>
              </li>
              <li><a href="news-month.html" class="lead">март</a>
              </li>
              <li><a href="news-month.html" class="lead">апрель</a>
              </li>
              <li><a href="news-month.html" class="lead">май</a>
              </li>
              <li><a href="news-month.html" class="lead">июнь</a>
              </li>
            </ul>
          </div>
        </div>
        <h3><a href="../news-articles.html">Статьи</a></h3>
        <h3><a href="#">Материалы</a></h3>
      </div>
    </aside>