<section>
  <div class="row content-line-light-top">
    <div class="col-xs-6">
      <p class="h3 pink text-uppercase">
        Отправить заявку
      </p>
    </div>
  </div>
  <div class="row request content-line-light ">
    <div class="col-xs-8 ">
      <form>
        <div class="form-group">
          <input type="text" class="form-control" id="name" placeholder="имя">
          <input type="text" class="form-control" id="organisation" placeholder="организация">
        </div>
      </form>
    </div>
    <div class="col-xs-8">
      <form>
        <div class="form-group">
          <input type="tel" class="form-control" id="telephone" placeholder="телефон">
          <input type="text" class="form-control" id="email" placeholder="e-mail">
        </div>
      </form>
    </div>
    <div class="col-xs-8">
      <div class="form-group">
        <textarea type="text" class="form-control" id="text" placeholder="сообщение" rows="2"></textarea>
        <div class="col-xs-10 col-xs-offset-14 no-gutter" style="margin-bottom:10px"><button class="btn btn-danger btn-block" type="submit">отправить</button></div>
      </div>
    </div>
  </div>
</section>