<section>
      <div class="row content-line-light">
        <div class="col-xs-3">
          <p class="h3 pink text-uppercase">
            Отзывы
          </p>
        </div>
        <div class="col-xs-3">
          <a href="#">
            все отзывы
          </a>
        </div>
      </div>
      <div class="row reviews content-line-light ">
        <div class="col-xs-8 text-center">
          <img id="alba" src="img/logo/aliba.png" alt="">
        </div>
        <div class="col-xs-8">
          <p class="h3 pink">Геннадий Семёнович Проектов </p>
          <p class="h3">директор</p>
          <br>
          <h3 class="pink">Транснефть</h3>
          <p class="h3">Екатеринбург</p>
        </div>
        <div class="col-xs-8">
          <p>В марте 2012 г. ЗАО «Интеллект-Партнер» успешно прошло сертификацию системы менеджмента качества на соответствие требованиям стандарта ИСО 9001:2008 в российской и международной системах сертификации.
          </p>
          <p>Интеллект-Партнер» успешно прошло сертификацию системы менеджмента качества на соответствие требованиям стандарта ИСО 9001:2008 в российской.
          </p>
          <a href="#">подробнее</a>
        </div>
      </div>
      <div class="row reviews">
        <div class="col-xs-8 text-center">
          <img id="wordclass"src="img/logo/wordclass.png" alt="">
        </div>
        <div class="col-xs-8">
          <p class="h3 pink">Алексей Аркадьевич Иванов</p>
          <p class="h3">директор</p>
          <br>
          <h3 class="pink">Транснефть</h3>
          <p class="h3">Екатеринбург</p>
        </div>
        <div class="col-xs-8">
          <p>Mы используем Управление Проектами сами, продолжая совершенствовать уже достигнутое. Самое главное - понимание того, что нет Управления Проектами без необходимых организационных изменений в компании, повышения уровня ит-грамотности, в отрыве от информационных технологий и без интеграции с системами документооборота и финансового учета. Это – не просто, но мы знаем, как это сделать правильно.
          </p>
          <a href="#">подробнее</a>
        </div>
      </div>
    </section>