@font-face {
  font-family: 'CirceWebLight';
  src: url('../fonts/CRC35.eot');
  src: url('../fonts/CRC35.eot?#iefix') format('embedded-opentype'), url('../fonts/CRC35.woff') format('woff')
}

//Header line
.header-line-down {
  @header-line-down-color: darken(@brand-danger, 5%);
  border-bottom: @header-line-down-color 1px solid;
}

.header-line-up {
  @header-line-up: lighten(@brand-danger, 5%);
  border-top: @header-line-up 1px solid;
}

.container {
  width: 1200px !important;
}

.btn {
  padding: 6px 10px;
}

.btn-group > .btn-catalog-index:first-child:not(:last-child):not(.dropdown-toggle) {
  margin-right: 10px;
  padding-right: 38px;
}

.btn-group > .btn-catalog:first-child:not(:last-child):not(.dropdown-toggle) {
  margin-right: 10px;
}
//HEADER CUSTOM STYLES
.logo {
  width: 95px;
  height: 55px;
}

.logo-container {
  padding-top: 0px;
}

.header-content {
  padding-top: 10px;
}

.header-top {
  .btn-danger {
    background-color: @brand-danger-dark;
    border-top-color: lighten(@brand-danger-dark, 15%);
    border-left-color: lighten(@brand-danger-dark, 15%);
    border-bottom-color: darken(@brand-danger-dark, 5%);
    border-right-color: darken(@brand-danger-dark, 5%);
  }
  .header-line-down;
  background-color: @brand-danger;
  padding:10px 0;
  h4 {
    color: @color-white;
    margin-top: 3px;
  }
  a {
    color: @color-white;
  }
}

nav {
  .row {
    background-color: @brand-danger;
    padding: 15px 0;
    .header-line-up;
  }
  a {
    color: @color-white;
    &:hover {
      color: @color-white;
    }
  }
}

a.active {
  text-decoration: underline;
}

h3.active {
  a {
    color: black;
  }
}

.tel-header {
  color: #72001B !important;
  vertical-align: bottom;
}

.gray {
  color: @color-gray;
}

.pink {
  color: @brand-danger;
}

.black {
  color: @color-black;
}

.icons-header {
  margin-top: 5px;
}

#vk {
  background: url(../img/vk.svg) no-repeat;
  background-size: 25px;
  width: 25px;
  height: 25px;
  display: inline-block;
}

#fb {
  background: url(../img/fb.svg) no-repeat;
  background-size: 25px;
  width: 25px;
  height: 25px;
  display: inline-block;
}

#tw {
  background: url(../img/tw.svg) no-repeat;
  background-size: 25px;
  width: 25px;
  height: 25px;
  display: inline-block;
}

.main-content-index {
  padding-top: 30px;
}

.main-content {
  padding-top: 30px;
  padding-bottom: 45px;
}

.main-content-ident {
  margin-top: 45px;
}

.main-slide {
  background: @background-gray;
  padding-top: 35px;
}

.big-li li {
  margin-bottom: 20px;
}

.owl-carousel {
  text-align: center;
  img {
    width: 250px;
    height: 250px;
    margin-bottom: 35px;
  }
}

.owl-logos {
  margin-top: 50px;
  img {
    width: 150px;
    height: 50px;
  }
}

.owl-projects {
  img {
    margin-bottom: 5px;
    width: auto;
    height: 100px;
  }
}

.content-line {
  border-bottom: #b6b6b8 1px solid;
  margin-bottom: 15px;
}

.content-line-light {
  border-bottom: #E3E4E5 1px solid;
//  padding-bottom: 5px;
}

.content-line-light-top {
  border-top: #E3E4E5 1px solid;
  padding-top: 15px;
}

.content-line-light-2 {
  border-bottom: #E3E4E5 1px solid;
  padding-bottom: 60px;
}

.contacts {
  background: @background-gray;
  padding-bottom: 45px;
}

.capt {
  margin-bottom: 10px;
}

.call-us {
  .lead();
  a {
    font-size: @font-size-base;
    padding-bottom: 15px;
  }
  ul {
    margin: 15px 0;
    li {}
  }
}

.footer-top {
  .col-xs-4 {
    padding: 15px 15px;
  }
}

.footer-column-1 {
  height: 100px;
  border-right: 1px solid #404041;
  padding: 0 !important;
  a {
    display: block;
    margin-top: 15px;
  }
}

.footer-column-2 {
  border-left: 1px solid #6D6E70;
  height: 100px;
  p {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
  }
}

.footer-top,
.footer-down {
  background-color: @color-footer-light;
  color: @color-white;
  .text-small{
    color: @color-footer-font;
  }
  a {
    color: @color-footer-font;
    &:hover {
      color: @color-white;
    }
  }
  p {
    color: @color-white;
  }
  ul, ol{
    margin-bottom: -8px;
  }
}

#polycopy {
  margin-left: 15px;
  display: block;
  width: 80px;
  height: 14px;
  margin-bottom: 3px;
}

#my3d {
  width: 42px;
  height: 16px;
  display: block;
  margin-top: 5px;
}

.reviews {
  padding: 30px 0;
  #wordclass {
    height: 60px;
    width: 220px;
  }
  #alba {
    height: 105px;
    width: 180px;
  }
}

.footer-down {
  font-size: @font-size-h6;
  background-color: @color-footer-dark;
  padding: 10px 0;
  box-shadow: inset 0 5px 5px -5px rgba(0, 0, 0, 0.5);
  vertical-align: bottom;
  .col-xs-3 {
    a {
      display: inline-block;
      padding-top: 8px;
    }
  }
}

.no-gutter {
  padding-right: 0;
  padding-left: 0;
}
/* columns of same height styles */

.row-full-height {
  height: 100%;
}

.col-full-height {
  height: 100%;
  vertical-align: top;
  /*middle default*/
}

.row-same-height {
  display: table;
  width: 100%;
  /* fix overflow */
  
  table-layout: fixed;
}

.col-xs-height {
  display: table-cell;
  float: none !important;
}

@media (min-width: 768px) {
  .col-sm-height {
    display: table-cell;
    float: none !important;
  }
}

@media (min-width: 992px) {
  .col-md-height {
    display: table-cell;
    float: none !important;
  }
}

@media (min-width: 1200px) {
  .col-lg-height {
    display: table-cell;
    float: none !important;
  }
}
/* vertical alignment styles */

.col-top {
  vertical-align: top;
}

.col-middle {
  vertical-align: middle;
}

.col-bottom {
  vertical-align: bottom;
}

.article-prev {
  background-color: @background-gray;
  padding: 0;
  height: 100%;
  padding-bottom: 60px;
  .media-body {
    padding-left: 15px;
    padding-right: 15px;
  }
}
/***********COLLAPSE*********************/

.collapse-block {
  margin-bottom: 20px;
  .glyphicon {
    color: @brand-danger;
  }
}

.collapse-heading > a {
  &:hover {
    text-decoration: none;
  }
  &:focus {
    text-decoration: none;
  }
  &:after {
    font-family: 'Glyphicons Halflings';
    content: '\e253';
    /*triangle top*/
    
    margin-top: 5px;
    padding-left: 15px;
  }
}

.collapse-heading > a.collapsed {
  &:after {
    content: '\e252';
    /*triangle bottom*/
  }
}

.collapse-list {
  li.active {
    & > a {
      color: black;
    }
  }
  ul {
    margin-left: 35px;
    li {
      padding: 5px 0;
      &:first-child {
        margin-top: 15px;
      }
    }
  }
}

/**************PROJECTS***************/
.projects-list-body{
  .projects-short {
    margin-bottom: 50px;
    p {
      font-size: @font-size-h3;
    }
  }
}
.projects-review-body{
  padding-top: 15px;
  .content-line-light-2
}
.projects-last{
  padding-top: 15px;
}
.projects-content{
  padding-bottom: 50px;
  border-bottom: 1px solid #E3E4E5;
  padding-top: 15px;
}
.projects-full-info {
  p {
    padding-bottom: 10px;
  }
  ul {
    padding-left: 0px;
  }
  li {
    padding: 12.5px 0;
    list-style-type: none;
    &:before {
      content: "•";
      color: @brand-danger;
      padding-right: 10px;
    }
  }
}

/*************NEWS and LEARNING****************/
#learning{
  .main-content{
    padding-bottom: 0px;
  }
}
.news-aside,
.learning-aside {
  .collapse-block {
    padding-left: 35px;
  }
}

.news-list-body {
  .news-list-head {
    color: @brand-danger;
  }
  font-size: @font-size-h3;
  .news-date {
    font-size: @font-size-h4;
    color: black;
    padding-bottom: 15px;
  }
  .news-list-content {
    border-bottom: @color-gray 1px solid;
    padding-bottom: 60px;
    p {
      padding-bottom: 15px;
    }
  }
}

.pagination > li > a {
  padding: 0 3px;
}

.learning-sales {
  background-color: @background-gray;
  font-size: @font-size-h3;
  padding-bottom: 30px;
}

.learning-content {
  .projects-full-info;
  .h3;
  p{
    padding-bottom: 0px;
  }
}

.learning-request {
  padding-top: 30px;
}

.programs-icons {
  display: block;
  width: 35px;
  height: 35px;
  background-size: 35px;
}

.kursor {
  background-image: url(../img/kursor_pink.svg);
  &:hover {
    background-image: url(../img/kursor_grey.svg);
  }
}

.play {
  background-image: url(../img/play_pink.svg);
  &:hover {
    background-image: url(../img/play_grey.svg);
  }
}

.monitor {
  background-image: url(../img/presentation_pink.svg);
  &:hover {
    background-image: url(../img/presentation_grey.svg);
  }
}

.call {
  background-image: url(../img/call_pink.svg);
  &:hover {
    background-image: url(../img/call_grey.svg);
  }
}
.form-control:focus{
  box-shadow: none;
}

/*************FORMS CUSTOMIZE************/

.request,
.learning-request {
  padding: 5px 0;
  .form-group {
    .form-control {
      display: block;
      width: 100%;
      height: @input-height-base; // Make inputs at least the height of their button counterpart (base line-height + padding + border)
      padding: @padding-base-vertical @padding-base-horizontal;
      font-size: @font-size-base;
      line-height: normal; //@line-height-base
      color: @input-color;
      background-color: #EEEFEF;
      background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
      border:none ;  //1px solid @input-border
      border-radius: @input-border-radius; // Note: This has no effect on <select>s in some browsers, due to the limited stylability of <select>s in CSS.
      .box-shadow(inset 1px 1px 2px 0 rgba(0, 0, 0, 0.2));
      .transition(~"border-color ease-in-out .15s, box-shadow ease-in-out .15s");
    }
    textarea.form-control {
      height: auto;
    }
    button {
      margin-top: 25px;
    }
  }
}
.form-group {
    
    .form-control {
      display: block;
      width: 100%;
      height: @input-height-base; // Make inputs at least the height of their button counterpart (base line-height + padding + border)
      padding: @padding-base-vertical @padding-base-horizontal;
      font-size: @font-size-base;
      line-height: normal; //@line-height-base
      color: @input-color;
      background-color: #fff;
      background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
      border:none ;  //1px solid @input-border
      border-radius: @input-border-radius; // Note: This has no effect on <select>s in some browsers, due to the limited stylability of <select>s in CSS.
      .box-shadow(inset 1px 1px 2px 0 rgba(0, 0, 0, 0.2));
//      .transition(~"border-color ease-in-out .15s, box-shadow ease-in-out .15s");
    }
    textarea.form-control {
      height: auto;
    }
    button {
      margin-top: 25px;
    }
  }


.title-subheader {
  padding-top: 3px;
}

.arrow-left{
  position: relative;
  top: 1px;
  display: inline-block;
 background:url(../img/arrowleft.svg) no-repeat;
  background-size: 30px;
  width: 30px;
  height: 30px;
}
.arrow-right{
  position: relative;
  top: 1px;
  display: inline-block;
 background:url(../img/arrowright.svg) no-repeat;
  background-size: 30px;
  width: 30px;
  height: 30px;
}
#programs{
  .main-content{
    padding-top: 15px;
  }
}
.shadow{
  box-shadow: inset 0px 72px 23px -66px rgba(0,0,0,0.4);
}
#news-articles{
  .main-content{
    padding-bottom: 20px;
  }
}
.exp_text{
  p.h3{
    margin-bottom: 2px !important;
  }
}